@{ ViewData["Title"] = "Error"; }

<h1 class="text-danger">Whoops!</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p><a href="mailto:support@fakeurlshortenerproject.co.uk">Click here</a> to contact customer services about this issue</p>